body {

	background-image: url('world.jpg');
	background-repeat: no-repeat;
}

button {

    color: #e8f1e8;
    background-color: #7fca7f;
    border: 1px solid #334452;
    border-radius: 20px;
}

h1,label {

    color: #a29f5b;
}

table,th,td {
	
	border: 1px solid #7fca7f;
	border-collapse: collapse;
}